#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

*{
    box-sizing: border-box;
}

header{
    background-image: linear-gradient(black,rgba(0, 0, 0, 0));
    display: block;
    padding-top: 1.5em;
}

body{
    background-image: url(26869744_166215407338142_3008889010509578240_n.jpg);
	background-attachment: fixed;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 100%;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width:100%;
    margin: 0 auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  padding: .75em 1.75em;
}

nav li:hover {
  background: #444;
}

.menu-sub {
  position: absolute;
  left: 0;
  background: #444;
  width: 100%;
  display:none;
  opacity: 0;
  color: #fff;
  padding: 2em;
}

nav li:hover .menu-sub {
  display: block;
  opacity: 0.95;
  animation: drop 1s forwards;
}

@keyframes drop{
    0%{
        transform: translateY(-15px);
    }
    100%{
        opacity: 0.95;
        transform: translateY(0px);
    }
}

.menu-sub li{
    display: block;
}

.menu-sub p, .menu-sub ul{
    text-align: left;
}

.menu-sub a{
    padding: 5px;
}

.category{
    margin: 2.5em 0 0.25em;
}

.category:first-of-type{
    margin-top:0;
}

.menu-sub a::after{
    content: "";
    display: block;
    width: 0;
    height:1px;
    background-color: white;
    transition: width 250ms;
}

.menu-sub a:hover::after{
    width: 50%;
    transition: width 500ms;
}

.column1{
    float: left;
}

.column1{
    width: 25%
}

.test{
    padding: 70px 0;
    font-family: "Arial",Helvetica,sans-serif;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    background-color:#000000;
    height: 50px;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
#center{
    display: block;
    height: 700px;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}




body{
    margin:0;
    font-family: sans-serif;
}

.pimg1{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

/*
    fixed = parallax
    scroll = normal
 */


  background-attachment: fixed;
}

.pimg2{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

/*
    fixed = parallax
    scroll = normal
 */


  background-attachment: fixed;
}

.pimg3{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

/*
    fixed = parallax
    scroll = normal
 */


  background-attachment: fixed;
}


.pimg1{
  background-image: url("5.jpg");
  min-height: 400px;

}

.pimg2{
  background-image: url("6.jpg");
  min-height: 400px;

}

.pimg3{
  background-image: url("3.jpg");
  min-height: 400px;

}

.section{
  text-align: center;
  padding: 50px 80px;

}

.section-dark{
  background-color: #282e34;
  color:#ddd;
}

.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border{
  background-color: #111;
  color:#fff;
  padding: 20px;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment: scroll;
  }
}


.container{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

/*
    fixed = parallax
    scroll = normal
 */


  background-attachment: fixed;
}



.container{
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    height:30em;
    opacity: 0.70;
}

.container .slider{
    position: absolute;
    top:0;
    left:0;
    width: 500%;
    height:100%;
    animation: animate 10s linear infinite;
}

.container .slider .slide{
position: relative;
width:20%;
height:100%;
float:left;
}

.container .slider .slide .caption {
  position: absolute;
  bottom: 60px;
  left: 60px;
  right: 60px;
  padding: 30px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
}

.container .slider .slide .caption h2{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 48px;
}

.container .slider .slide .caption p{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 20px;
}


.container .slider .slide.slide1{
background:url(1.jpg);
background-size: cover;
background-position: center;
background-attachment:fixed;
}

.container .slider .slide.slide2{
background:url(2.jpg);
background-size: cover;
background-position: center;
background-attachment:fixed;
}

.container .slider .slide.slide3{
background:url(3.jpg);
background-size: cover;
background-position: center;
background-attachment:fixed;}

.container .slider .slide.slide4{
background:url(4.jpg);
background-size: cover;
background-position: center;
background-attachment:fixed;}

@keyframes animate{
   0%{
       left:0;
   }
   20%{
       left:0;
   }
   25%{
       left:-100%;
   }
   45%{
       left:-100%;
   }
   50%{
       left:-200%;
   }
   70%{
       left:-200%;
   }
   75%{
       left:-300%;
   }
   95%{
       left:-300%;
   }
   100%{
       left:-400%;
   }
}

footer{
  width: 100%;
  background-color: #222;
  padding: 60px 0px;
}

footer nav{
  float: left;
}

footer nav ul{
}

footer nav ul li{
  display: inline-block;
  margin-left: 20px;
  list-style: none;
}

footer nav ul li a{
  font-family: Arial;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
