#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

*{
    box-sizing: border-box;
}

.containerky img{
  margin-bottom: .8em;
}
body{
    background-color: whitesmoke;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.containerky{
    max-width:100%;
    margin: 0 auto;
    background-color:black;
    display: block;
    padding-top: .5em;
}

.content {
  padding: 16px;
}

.sticky {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky + .content {
  padding-top: 60px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: center;
}

nav li {
  display: inline-block;
  color:white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a{
  color:white;
  text-decoration: none;
  display: block;
  padding: .75em 1.75em;
}

.column1 ul li a{
  color:black;
}

nav li:hover {                /*OMFG IDW DOUBLE LINE*/
  text-decoration: underline;
}

nav li:hover ul li{
  text-decoration: none;
}

.menu-sub {
  position: absolute;
  left: 0;
  background: white;
  width: 100%;
  display:none;
  opacity: 0;
  color: black;
  padding: 2em;
  z-index: 1;
}

nav li:hover .menu-sub {
  display: block;
  opacity: 0.85;
  animation: drop 1s forwards;
}

@keyframes drop{
    0%{
        transform: translateY(-15px);
    }
    100%{
        opacity: 0.85;
        transform: translateY(0px);
    }
}

.menu-sub li{
    display: block;
}

.menu-sub p, .menu-sub ul{
    text-align: left;
}

.menu-sub a{
    padding: 5px;
}

.category{
    margin: 2.5em 0 0.25em;
}

.category:first-of-type{
    margin-top:0;
}

.menu-sub a::after{
    content: "";
    display: block;
    width: 0;
    height:1px;
    background-color: black;
    transition: width 250ms;
}

.menu-sub a:hover::after{
    width: 50%;
    transition: width 500ms;
}

.column1{
    float: left;
    width: 25%
}

.slider{
  overflow:hidden;
  height:38em;
}

.slider figure div{
  width:20%;
  float: left;
}

.slider figure img{
  width:100%;
  float: left;
}

.slider figure{
  position: relative;
  width: 500%;
  margin:0;
  left:0;
  right:0;
  animation: animate 20s infinite;
}



@keyframes animate{
   0%{
       left:0;
   }
   20%{
       left:0;
   }
   25%{
       left:-100%;
   }
   45%{
       left:-100%;
   }
   50%{
       left:-200%;
   }
   70%{
       left:-200%;
   }
   75%{
       left:-300%;
   }
   95%{
       left:-300%;
   }
   100%{
       left:-400%;
   }
}

.hoverimage{
  width: 100%;
  min-height: 500px;
  background: #fff;
  margin: 70px auto 0;
  display: flex;
  float: row;
  flex-wrap: wrap;
  opacity: 0.70;

}

.hoverimage .box{
  position: relative;
  width: 300px;
  height: 450px;
  background: white;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;

}

.hoverimage .box .imgBox{
  position: relative;
  overflow: hidden;
}

.hoverimage .box .imgBox img{
  max-width: 100%;
  transition: transform 2s;
}

.hoverimage .box:hover .imgBox img{
  transform: scale(1.2);
}

.hoverimage .box .details{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgba(0,0,0,.8);
  transform: scaleY(0);
  transition: transform .5s;
}

.hoverimage .box:hover .details{
  transform: scaleY(1);
}

.hoverimage .box .details .content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px;
  color: #fff;
}

.hoverimage .box .details .content h2{
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: white;
}

.hoverimage .box .details .content p{
  margin: 10px 0 0;
  padding: 0;
}

.pimg1{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

/*
    fixed = parallax
    scroll = normal
 */
 background-image: url("5.jpg");
 min-height: 400px;
  background-attachment: fixed;
}

.pimg2{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

/*
    fixed = parallax
    scroll = normal
 */
  background-image: url("6.jpg");
  min-height: 400px;
  background-attachment: fixed;
}

.pimg3{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("3.jpg");
  min-height: 400px;
/*
    fixed = parallax
    scroll = normal
 */
  background-attachment: fixed;
}

.section{
  text-align: center;
  padding: 50px 80px;

}

.section-dark{
  background-color: #282e34;
  color:#ddd;
}

.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border{
  background-color: #111;
  color:#fff;
  padding: 20px;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment: scroll;
  }
}

footer{
  width: 100%;
  background-color: #222;
  padding: 60px 0px;
}

footer nav{
  float: left;
}


footer nav ul li{
  display: inline-block;
  margin-left: 20px;
  list-style: none;
}

footer nav ul li a{
  font-family: Arial;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
